
/*----/ $RESET */

/*----/ $GENERAL */
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/open-sans/opensans-regular-webfont.eot');
    src: url('../fonts/open-sans/opensans-regular-webfont.eot') format('embedded-opentype'),
    url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot');
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot') format('embedded-opentype'),
    url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/open-sans/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/opensans-semibold-webfont.svg#OpenSansSemiBold') format('svg');
}

@font-face {
    font-family: 'GaramondRegular';
    src: url('../fonts/garamond/garamond_regular-webfont.eot');
    src: url('../fonts/garamond/garamond_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/garamond/garamond_regular-webfont.woff2') format('woff2'),
    url('../fonts/garamond/garamond_regular-webfont.woff') format('woff'),
    url('../fonts/garamond/garamond_regular-webfont.ttf') format('truetype'),
    url('../fonts/garamond/garamond_regular-webfont.svg#garamondregular') format('svg');
}

/*----/----/ $TAGS */

h1, h2, h3, h4, h5, h6 {
    font-family: "OpenSansSemiBold",sans-serif;
    color: #404041;
    font-weight: normal;
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
}

h2 {
    font-family: "OpenSansRegular", sans-serif;
    color: #6d6e70;
    font-size: 22px ;
}

h3 {
    font-size: 16px;
}

/*----/----/ $CLASSES */
.not-front .main p,
.not-front .main p > * {
    font-family: "GaramondRegular", serif !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
    text-align: left !important;
}

.main > .content {
    overflow: hidden;
}

.not-front .main > .content p,
.not-front .main > .content p > * {
    font-size: 22px !important;
}
.not-front .not-front .main .created,
.not-front .main .views-field-field-call-fecha {
    font-family: "OpenSansRegular",sans-serif;
    font-size: 13px;
    color: #58585b;
}

.not-front .main .views-field-field-call-fecha  span{
    float: left;
    margin-right: 8px;
    line-height:	14pt;
}

.block-views .content .more-link a,
.block-telartes .content .more-link a,
.view-call .views-field-view-node a,
.view-library .link span a,
.view-editorial .link span a {
    border: 1px solid #404041 !important;
    color: #404041 !important;
    padding: 8px 15px;
    font-family: "OpenSansRegular";
}

.view-call .views-field-view-node a {
    font-size: 12px;
}
.view-mediateca .views-row,
.view-news .views-row,
.view-collaborative-economy .views-row,
.view-training .views-row,
.view-collaborative-economy .views-row {
    display: inline-block;
    max-width: 225px;
    vertical-align: top;
    position: relative;
}

.mrc-block-destacados {
    overflow: hidden;
    margin-bottom: 15px;
}

.mrc-block-destacados .float-left {
    width: 34%;
    margin-right: 2%;
}
.mrc-block-destacados .float-right {
    width: 64%;
}

.mrc-block-destacados .float-right h3 a {
    font-size: 13px;
    margin-top: -2px;
}

.mrc-block-destacados * {
    font-size: 12px;
    text-align: justify;
}

.mrc-block-destacados .field-content {
    font-size: 16px;
    text-align: left !important;
    font-family: "GaramondRegular";
    line-height: 1.3;
}

.mrc-unformmatted-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.mrc-unformmatted-list > * {
    display:inline-block;
}

.mrc-unformmatted-list.block > * {
    display: block;
}

.names .field-content:empty {
    display: none !important;
}

/*----/----/----/ $BOX GALLERIES */
.main.columns .block-views .news-image,
.main.columns .block-views .views-field-field-call-image,
.main.columns .block-views .image {
    height: 145px;
    overflow: hidden;
}

/*----/----/----/ $BOX PUBLISH */

.view-library .views-row,
.view-editorial .views-row,
.view-call .views-row {
    display: inline-block;
    margin: 1px 1px 1px 0px;
    max-width: 232px;
    padding: 12px 12px 12px 0;
    position: relative;
    vertical-align: top;
}

.view-library .views-row:nth-child(3n+0),
.view-editorial .views-row:nth-child(3n+0),
.view-call .views-row:nth-child(3n+0) {
    padding-right: 0;
}

.front .view-library .views-row,
.front .view-editorial .views-row,
.front .view-call .view-row  {
    border-right: 1px solid #ccc;
}

/*----/ $BODY */

.block.collapsiblock-processed > h2 {
    color: #747474;
    font-weight: normal;
    font-size: 20px;
}
.not-front .main .block.collapsiblock-processed  {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.large-3.sidebar-second h2 {
    border: 1px solid #6D6E70;
    padding: 8px 15px;
}

.large-3.sidebar-second  h3 {
    text-align: left !important;
}

.large-3.sidebar-second  h3 a {
    text-align: left !important;
    color: #404041;
    font-size:17px
}

.main .block-views h3 {
    text-align: center !important;
    margin-bottom: 5px;
}

.main .block-views a {
    font-size: 17px;
    color: #404041;
}

.created .field-content {
    font-size: 13px;
    text-align: left;
}
/*----/----/ $BREADCRUMBS */
.breadcrumbs {
    margin-top: 11px;
}

.breadcrumbs a {
    color:#CFCFD1;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
}

.breadcrumbs > *:before {
    content: "/";
    color: #aaa;
    font-size: 13px;
}

.breadcrumbs li:first-child a {
    color: transparent !important;
    display: inline-block;
    width: 15px;
    height: 20px;
    overflow: hidden;
    font-size: 16px;
    margin-top: -1px;
}
.breadcrumbs li:first-child a:before {
    font-family: "FontAwesome";
    color: #C2C2C2 !important;;
    display: inline-block;
    content:"\f015"
}


/*----/----/ $HOME */
.front .custom-menu-wrapper .main-nav li ul li a {
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
}

.custom-menu-wrapper .menu-manifiesto {
    left: 85px;
}

.custom-menu-wrapper .comunicacion {
    top: 30px;
    left: 570px;
}

.custom-menu-wrapper .formacion {
    top: 174px;
    left: 980px;
}

.custom-menu-wrapper .cultura-red {
    top: 24px;
    left: 850px;
}

.custom-menu-wrapper .cultura-viva-comunitaria {
    top: 337px;
    left: 830px;
}

.custom-menu-wrapper .boletin {
    left: 90px;
    top: 310px;
}

.custom-menu-wrapper .menu-inciedncias {
    left: 578px;
    top: 187px;
}

.custom-menu-wrapper .foro {
    left: 356px;
    top: 320px;
}

.custom-menu-wrapper .menu-economia {
    left: 415px;
    top: 240px;
}
.custom-menu-wrapper .circulacion {
    left: 337px;
    top: 120px;
}

/*----/----/----/ $NOTICIAS */
.nothing {
    position: absolute;
    margin: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.nothing > * {
    display: none;
}

.nothing:hover {
    background-color: rgba(15, 14, 10, 0.5);
    opacity: 1;
    padding: 15px;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;
}

.nothing:hover > * {
    display: block;
}

.nothing a {
    color:#fff;
    text-align: left;
}

.nothing .title-news {
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 700;
}

.nothing .field-created-date {
    font-size: 0.65em;
    font-weight: 700;
    margin: 1px 0px 18px;
    width: 100%;
}

.nothing .field-created-date:before {
    background: transparent url("../images/calendario.png") no-repeat scroll left calc(0px);
    content: "";
    display: inline-block;
    height: 15px;
    width: 9%;
}

.view-news .views-row{
    margin-right: 10px;
}

.front .view-news .views-row {
    margin-bottom: 10px;
}

.not-front .view-news .views-row:nth-child(3n+0) {
    margin-right: 0;
}

.front .view-news .views-row:nth-child(4n+0) {
    margin-right: 0;
}

/*----/----/----/ $CONVOCATORIAS */
.view-call .views-row {
    height: 435px;
}

.view-call .views-row .views-field-body {
    height: 140px;
}

/*----/----/----/ $EDITORIAL */
.view-library .views-row,
.view-editorial .views-row {
    height: 400px;
}


.view-library .title a,
.view-editorial .title a {
    text-align: center !important;
    display: block;
}

.front .view-library .title a:before,
.front .view-editorial .title a:before {
    background: transparent url("../images/libronegro.png") no-repeat scroll 0% 0%;
    content: "";
    display: block;
    height: 59px;
    margin-left: auto;
    margin-right: auto;
    width: 59px;

}

.view-editorial .views-row .content,
.view-library .views-row .content, {
    min-height: 104px;
    max-height: 104px;
    font-weight: normal;
    font-size: 11px;
    margin-bottom: 10px;
}

.view-editorial .link,
.view-library .link {
    text-align: center !important;
}



/*----/----/ $ACOTORXS CULTURALES */

#views-exposed-form-culturals-actors-page .views-exposed-widgets #edit-tid-1-wrapper  {
    width: 230px;
}

#views-exposed-form-culturals-actors-page .views-exposed-widgets #edit-tid-1-wrapper .views-widget {
    width: 170px;
}

.view-culturals-actors .box-list {
    height: 85px;
}

.view-culturals-actors .box-list .photos {
    width: 20%;
    margin-right: 3%;
}

.view-culturals-actors .box-list .info {
    width: 77%;
    height: 100px;
    overflow: hidden;
}
.view-culturals-actors .box-list .info .name,
.view-culturals-actors .box-list .info .type {
    margin-bottom:5px;
    font-family: "OpenSansRegular",sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.view-culturals-actors .box-list .info .type {
    line-height: 1;
}
.view-culturals-actors .box-list .info .name h3  {
    margin-bottom: 0;
    font-weight: normal;
    margin-top: -5px;
}
.view-culturals-actors .box-list .info .name h3 a {
    font-size: 17px;
    color: #9530AC;
    font-weight: normal;
}
.view-culturals-actors .box-list .info .name .names div {
    display: inline-block;

    color: #404041;
}

.view-culturals-actors .box-list .info .infos,
.view-culturals-actors .box-list .info .infos a {
    font-family:"GaramondRegular", serif;
    font-size: 15px;
    color:#58585b;
}

/*----/----/ $NOTIFICACIONES */

.box-list .photos {
    width: 20%;
    margin-right: 3%;
}

.box-list .info {
    width: 77%;
    height: 100px;
    overflow: hidden;
}

.box-list .info .name {
    margin-bottom:10px;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
}
.box-list .info .name h3  {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: normal;
}
.box-list .info .name h3 a {
    color:#9530AC;
}
.box-list .info .name .names div {
    display: inline-block;
    font-size: 13px;
    color: #404041;
}

.box-list .info .infos,
.box-list .info .infos a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color:#58585b;
}

.view-notificaciones .mrc-unformmatted-list li,
.view-culturals-actors .mrc-unformmatted-list li {
    width: 49%;
}

.view-notificaciones .mrc-unformmatted-list li.views-row-odd,
.view-culturals-actors .mrc-unformmatted-list li.views-row-odd {
    margin-right: 1%;
}

/*----/----/ $CIRCULACIÓN CULTURAL */


.block-views table.views-view-grid {
    border: none;
}

/*----/----/ $CULTURA DE RED */
.node.node-network-culture .field-collection-container {
    float: left;
    width: 50%;
    border-top:1px solid #ccc;
    padding: 15px;
    height: 300px;
}

.node.node-network-culture .body+.field-collection-container {
    border-right: 1px solid #ccc;
}

.node.node-network-culture .field-collection-container .field-label {
    font-family: "OpenSansRegular";
    font-weight: normal;
}

.node.node-network-culture .field-collection-container .field-collection-view {
    padding: 0;
    margin: 0;
}

.node.node-network-culture .field-collection-container .field-collection-view {
    margin-bottom: 15px;
}

.node.node-network-culture .field-collection-container .field-type-link-field a {
    color: #9530AC;
    font-family: "OpenSansRegular";
}


.node.node-network-culture .field-collection-container .field-type-text-long  {
    line-height: 1.5;
    font-family: "GaramondRegular";
    font-size: 16px;
}

/*----/----/ $MEDIATECA */


.view-mediateca .views-row {
    margin-right: 10px;
}

.view-mediateca .views-row:nth-child(3n+0) {
    margin-right: 0;
}


/*----* $BOLETIN */
.section-boletin .flexslider .slides li {
    height: 257px;
    overflow:hidden;
}
