
/*----/ $RESET */ 

/*----/ $GENERAL */
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/open-sans/opensans-regular-webfont.eot');
    src: url('../fonts/open-sans/opensans-regular-webfont.eot') format('embedded-opentype'),
    url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot');
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot') format('embedded-opentype'),
    url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/open-sans/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/opensans-semibold-webfont.svg#OpenSansSemiBold') format('svg');
}

@font-face {
    font-family: 'GaramondRegular';
    src: url('../fonts/garamond/garamond_regular-webfont.eot');
    src: url('../fonts/garamond/garamond_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/garamond/garamond_regular-webfont.woff2') format('woff2'),
    url('../fonts/garamond/garamond_regular-webfont.woff') format('woff'),
    url('../fonts/garamond/garamond_regular-webfont.ttf') format('truetype'),
    url('../fonts/garamond/garamond_regular-webfont.svg#garamondregular') format('svg');
}

/*----/----/ $TAGS */

h1, h2, h3, h4, h5, h6 {
    font-family: "OpenSansSemiBold",sans-serif;
    color: #424143;/*#404041;*/
    font-weight: normal;
	font-size: 22px;
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
}

h2 {
    font-family: "OpenSansRegular", sans-serif;
    color: #6d6e70;
    font-size: 22px ;
}

h3 {
    font-size: 16px;
}

/*----/----/ $CLASSES */
.not-front .main p,
.not-front .main p > * {
    font-family: "GaramondRegular", serif !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
    /*text-align: left !important;*/
}

.main > .content {
    overflow: hidden;
}

.not-front .main > .content p,
.not-front .main > .content p > * {
    font-size: 22px !important;
}
.not-front .not-front .main .created,
.not-front .main .views-field-field-call-fecha,
.not-front .view-news .field-created-date {
    font-family: "OpenSansRegular",sans-serif;
    font-size: 13px;
    color: #58585b;
    overflow: hidden;
    margin-bottom: 10px;
}

.not-front .main .views-field-field-call-fecha  span{
    float: left;
    margin-right: 8px;
    line-height:	14pt;
}

.not-front .block-views {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/*.block-views .content .more-link a,
.block-telartes .content .more-link a,
.view-call .views-field-view-node a,
.view-library .link span a,
.view-editorial .link span a {
    border: 1px solid #404041 !important;
    color: #404041 !important;
    padding: 8px 15px;
    font-family: "OpenSansRegular";
}*/

.view-call .views-field-view-node a {
    font-size: 12px;
}
.view-mediateca .views-row,
.view-news .views-row,
.view-collaborative-economy .views-row,
.view-training .views-row,
.view-collaborative-economy .views-row {
    display: inline-block;
    /*width: 225px;*/
    vertical-align: top;
    position: relative;
}

.view-id-_reas li  {
    width: 100%;
}

.mrc-block-destacados {
    overflow: hidden;
    margin-bottom: 15px;
}

.mrc-block-destacados .float-left {
    width: 34%;
    margin-right: 2%;
}
.mrc-block-destacados .float-right {
    width: 64%;
}

.mrc-block-destacados .float-right h3 a {
    font-size: 13px;
    margin-top: -2px;
}

.mrc-block-destacados * {
    font-size: 12px;
    text-align: justify;
}

.mrc-block-destacados .field-content {
    font-size: 16px;
    text-align: left !important;
    font-family: "GaramondRegular";
    line-height: 1.3;
}

.mrc-block-destacados .field-content p {
    font-size: 16px;
}

.mrc-unformmatted-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.mrc-unformmatted-list .views-field.views-field-name a,
.mrc-unformmatted-list .views-field.views-field-name {
    font-size: 13px !important;
}

.mrc-unformmatted-list > * {
    display:inline-block;
}

.mrc-unformmatted-list.block > * {
    display: block;
}

.names .field-content:empty {
    display: none !important;
}

/*----/----/----/ $BOX GALLERIES */
.main.columns .block-views .news-image,
.main.columns .block-views .views-field-field-call-image,
.main.columns .block-views .image,
.main.columns .block-views .views-field-field-event-image,
.main.columns .block-views  .views-field-field-multimedia-link,
.main.columns .block-views  .views-field-field-photography-photo{
    width: 225px;
    overflow: hidden;
    position: relative;
}

.main.columns .block-views .news-image img,
.main.columns .block-views .views-field-field-call-image img,
.main.columns .block-views .image img,
.main.columns .block-views .views-field-field-event-image img,
.main.columns .block-views  .views-field-field-multimedia-link img,
.main.columns .block-views  .views-field-field-photography-photo img {
    height: 145px;
}

.main.columns .block-views .news-image:after,
.main.columns .block-views .views-field-field-call-image:after,
.main.columns .block-views .image:after,
.main.columns .block-views .views-field-field-event-image:after,
.main.columns .block-views  .views-field-field-multimedia-link:after,
.main.columns .block-views  .views-field-field-photography-photo:after,
.main.columns .block-views .view-editorial .title a:after,
.main.columns .block-views .view-documentos h3 a:after,
.main.columns .block-views .view-audios h3 a:after,
.sidebar-second .mrc-block-destacados .field_collective_picture a:after,
.sidebar-second .mrc-block-destacados .field_network_picture a:after,
.sidebar-second .mrc-block-destacados .field_image a:after,
.sidebar-second .mrc-block-destacados .field_call_image a:after,
.sidebar-second .mrc-block-destacados .field_editorial_image a:after,
.sidebar-second .mrc-block-destacados .field_news_image a:after,
.sidebar-second .mrc-block-destacados .field_event_image a:after,
.sidebar-second .mrc-block-destacados .field_clear_image a:after,
.sidebar-second .mrc-block-destacados .field_newsletter_image a:after,
.sidebar-second .mrc-block-destacados .field_photography_photo a:after {
    display: block;
    position: absolute;
    right: 10px;
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    z-index: 100;
    color: #fff;
    top: 0;
    font-size: 25px;
    opacity: 1;
}

.main.columns .block-views .view-documentos h3 {
    position: relative;
}

.main.columns .block-views .view-documentos h3 a {
    text-align: left !important;
    padding-right: 30px;
    display: block;
}
.main.columns .block-views .view-documentos h3 a:after {
    content: "\f1c1";
    color:#000;
    opacity: 0.8;
}

.main.columns .block-views .view-audios h3 {
    position: relative;
}

.main.columns .block-views .view-audios h3 a {
    text-align: left !important;
    padding-right: 30px;
    display: block;
}

.main.columns .block-views .view-audios h3 a:after {
    content: "\f025";
    color:#000;
    opacity: 0.8;
}

.main.columns .block-views .view-editorial .title a {
    text-align: left !important;
    padding-right: 30px;
    position: relative;
}


.main.columns .block-views .view-editorial .title a:after,
.sidebar-second .mrc-block-destacados .field_editorial_image a:after {
    content: "\f0f6";
    color:#000;
}

.sidebar-second .mrc-block-destacados .field_editorial_image a:after {
    color:#fff;
}

.main.columns .block-views .views-field-field-call-image:after,
.sidebar-second .mrc-block-destacados .field_call_image a:after {
    content: "\f0a1";
}

.main.columns .block-views .news-image:after,
.sidebar-second .mrc-block-destacados .field_news_image a:after {
    content: "\f1ea";
}

.main.columns .block-views .views-field-field-event-image:after,
.sidebar-second .mrc-block-destacados .field_event_image a:after {
    content: "\f133";
}

.main.columns .block-views .views-field-field-multimedia-link:after {
    content: "\f03d";
}

.main.columns .block-views .views-field-field-multimedia-link:after {
    content: "\f03d";
}

.main.columns .block-views .views-field-field-photography-photo:after,
.sidebar-second .mrc-block-destacados .field_photography_photo a:after{
    content: "\f03e";
}



/*----/----/----/----/ $AUDIO GALERY */
.block-views .view-audios .file {
    display: block;
    padding: 5px 10px;
    background: #f5f5f5;
    border-radius: 5px;
}

.block-views .view-audios .file a {
    font-size: 13px;
}

/*----/----/----/----/ $NOTICIAS */
.not-front .view-news .title-news {
    font-family: "OpenSansSemiBold",sans-serif;
    color: #404041;
    font-weight: normal;
    text-align: center !important;
    display: block;
}


/*----/----/----/ $BOX PUBLISH */

.view-library .views-row,
.view-editorial .views-row,
.view-call .views-row,
.view-id-formacion_telartes .views-row,
.view-fotografia .views-row,
.view-documentos .views-row,
.view-videos .views-row,
.view-audios .views-row,
.view-culture-calendar .views-row {
    display: inline-block;
    margin: 0px 9px 15px 0px;
    width: 225px;
    position: relative;
    vertical-align: top;
}
.view-culture-calendar .views-row .views-field-field-event-date,
.view-videos .views-row .views-field-created,
.view-documentos .views-row .views-field-created,
.view-fotografia .views-row .views-field-created,
.view-audios .views-row .views-field-created {
    font-family: "OpenSansRegular",sans-serif;
    font-size: 13px;
    color: #58585b;
    overflow: hidden;
    margin-bottom: 10px;
}

.view-library .views-row:nth-child(3n+0),
.view-editorial .views-row:nth-child(3n+0),
.view-call .views-row:nth-child(3n+0) {
    margin-right: 0;
}

.front .view-library .views-row,
.front .view-editorial .views-row,
.front .view-call .view-row  {
    border-right: 1px solid #ccc;
}

/*----/ $BODY */

.block.collapsiblock-processed > h2 {
    color: #747474;
    font-weight: normal;
    font-size: 20px;
}
.not-front .main .block.collapsiblock-processed  {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.large-3.sidebar-second h2 {
    border: 1px solid #6D6E70;
    padding: 3px 15px;
}

.large-3.sidebar-second  h3 {
    text-align: left !important;
}

.large-3.sidebar-second  h3 a {
    text-align: left !important;
    color: #404041;
    font-size:17px
}

.main .block-views h3 {
    text-align: center !important;
    margin-bottom: 5px;
}

.main .block-views .field-content a {
    font-size: 17px;
    color: #404041;
}

.created .field-content {
    font-size: 13px;
    text-align: left;
}

/*----/----/ $SIDEBAR */
.sidebar-second .mrc-block-destacados .float-left {
    position: relative;
}


/*----/----/ $BREADCRUMBS */
.breadcrumbs {
    margin-top: 11px;
}

.breadcrumbs a {
    color:#CFCFD1;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
}

.breadcrumbs > *:before {
    content: "/";
    color: #aaa;
    font-size: 13px;
}

.breadcrumbs li:first-child a {
    color: transparent !important;
    display: inline-block;
    width: 15px;
    height: 20px;
    overflow: hidden;
    font-size: 16px;
    margin-top: -1px;
}
.breadcrumbs li:first-child a:before {
    font-family: "FontAwesome";
    color: #C2C2C2 !important;;
    display: inline-block;
    content:"\f015"
}


/*----/----/ $HOME */
.front .custom-menu-wrapper .main-nav li ul li a {
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
}

.custom-menu-wrapper .menu-manifiesto {
    left: 85px;
}

.custom-menu-wrapper .comunicacion {
    top: 30px;
    left: 570px;
}

.custom-menu-wrapper .formacion {
    top: 174px;
    left: 980px;
}

.custom-menu-wrapper .cultura-red {
    top: 24px;
    left: 850px;
}

.custom-menu-wrapper .cultura-viva-comunitaria {
    top: 337px;
    left: 830px;
}

.custom-menu-wrapper .boletin {
    left: 90px;
    top: 310px;
}

.custom-menu-wrapper .menu-inciedncias {
    left: 578px;
    top: 187px;
}

.custom-menu-wrapper .foro {
    left: 356px;
    top: 320px;
}

.custom-menu-wrapper .menu-economia {
    left: 415px;
    top: 240px;
}
.custom-menu-wrapper .circulacion {
    left: 337px;
    top: 120px;
}

/*----/----/----/ $NOTICIAS */
.front .nothing {
    position: absolute;
    margin: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.front  .nothing > * {
    display: none;
}

.front  .nothing:hover {
    background-color: rgba(15, 14, 10, 0.5);
    opacity: 1;
    padding: 15px;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;
}

.front  .nothing:hover > * {
    display: block;
}

.front  .nothing a {
    color:#fff;
    text-align: left;
}

.front .nothing .title-news {
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 700;
}

.front .nothing .field-created-date {
    font-size: 0.65em;
    font-weight: 700;
    margin: 1px 0px 18px;
    width: 100%;
}

.front .nothing .field-created-date:before {
    background: transparent url("../images/calendario.png") no-repeat scroll left calc(0px);
    content: "";
    display: inline-block;
    height: 15px;
    width: 9%;
}

.view-news .views-row {
    margin-right: 10px;
}

.front .view-news .views-row {
    margin: 9px;
}

.not-front .view-news .views-row:nth-child(3n+0) {
    margin-right: 0;
}

.front .view-news .views-row:nth-child(4n+0) {
    margin-right: 0;
}

/*----/----/----/ $CONVOCATORIAS */
.view-call .views-row {
    /*height: 435px;*/
}

.view-call .views-row .views-field-body {
    /*height: 140px;*/
}

/*----/----/----/ $EDITORIAL */
.view-library .views-row,
.view-editorial .views-row {
    /*height: 400px;*/
}


.view-library .title a,
.view-editorial .title a {
    text-align: center !important;
    display: block;
}

.front .view-library .title a:before,
.front .view-editorial .title a:before {
    background: transparent url("../images/libronegro.png") no-repeat scroll 0% 0%;
    content: "";
    display: block;
    height: 59px;
    margin-left: auto;
    margin-right: auto;
    width: 59px;

}

.view-editorial .views-row .content,
.view-library .views-row .content, {
    min-height: 104px;
    max-height: 104px;
    font-weight: normal;
    font-size: 11px;
    margin-bottom: 10px;
}

.view-editorial .link,
.view-library .link {
    text-align: center !important;
}



/*----/----/ $ACOTORXS CULTURALES */

#views-exposed-form-culturals-actors-page .views-exposed-widgets #edit-tid-1-wrapper  {
    /*width: 230px;*/
}

#views-exposed-form-culturals-actors-page .views-exposed-widgets #edit-tid-1-wrapper .views-widget {
    width: 170px;
}

.view-culturals-actors .box-list {
    /*height: 85px;*/
}

.view-culturals-actors .box-list .photos {
    width: 20%;
    margin-right: 1%; /*3%;*/
}

.view-culturals-actors .box-list .info {
    width: 77%;
    height: 100px;
    overflow: hidden;
}
.view-culturals-actors .box-list .info .name,
.view-culturals-actors .box-list .info .type {
    margin-bottom:5px;
    font-family: "OpenSansRegular",sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.view-culturals-actors .box-list .info .type {
    line-height: 1;
	color: #414142;
}
.view-culturals-actors .box-list .info .name h3  {
    margin-bottom: 0;
    font-weight: normal;
    margin-top: -5px;
}
.view-culturals-actors .box-list .info .name h3 a {
    font-size: 17px;
    color: #9530AC;
    font-weight: normal;
}
.view-culturals-actors .box-list .info .name .names div {
    display: inline-block;

    color: #404041;
}

.view-culturals-actors .box-list .info .infos,
.view-culturals-actors .box-list .info .infos a {
    font-family:"GaramondRegular", serif;
    font-size: 15px;
    color: #58585A;/*#58585b;*/
}

/*----/----/ $NOTIFICACIONES */

.view-notificaciones .box-list {
    height: 85px;
}

.box-list .photos {
    width: 20%;
    margin-right: 3%;
}

.box-list .info {
    width: 77%;
    height: 100px;
    overflow: hidden;
}

.box-list .info .name {
    margin-bottom:10px;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
}
.box-list .info .name h3  {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: normal;
}
.box-list .info .name h3 a {
    color:#9530AC;
}
.box-list .info .name .names div {
    display: inline-block;
    font-size: 13px;
    color: #404041;
}

.box-list .info .infos,
.box-list .info .infos a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color:#58585b;
}

.view-notificaciones .mrc-unformmatted-list li,
.view-culturals-actors .mrc-unformmatted-list li {
    width: 49%;
}

.view-notificaciones .mrc-unformmatted-list li.views-row-odd,
.view-culturals-actors .mrc-unformmatted-list li.views-row-odd {
    margin-right: 1%;
}

/*----/----/ $CIRCULACIÓN CULTURAL */


.block-views table.views-view-grid {
    border: none;
}

.node-type-circulacion-cultural  .views-field-view-node a,
.node-type-circulacion-cultural .link{
    display: none;
}

/*----/----/ $CULTURA DE RED */

.node.node-network-culture .field-collection-container a,
.node.node-community-living-culture .field-collection-container a,
.node.node-incidence .field-collection-container a,
.node.node-collaborative-economy .field-collection-container a,
.node.node-training .field-collection-container a,
.node.node-communication .field-collection-container a{
    color: #9530AC !important;
    font-family: "OpenSansRegular";
}

.node.node-network-culture .field-collection-container,
.node.node-community-living-culture .field-collection-container,
.node.node-incidence .field-collection-container,
.node.node-collaborative-economy .field-collection-container,
.node.node-training .field-collection-container,
.node.node-communication .field-collection-container {
    float: left;
    width: 50%;
    border-top:1px solid #ccc;
    padding: 15px;
    border-bottom: none;
}



.node.node-network-culture .field-collection-container.onlychild,
.node.node-community-living-culture .field-collection-container.onlychild,
.node.node-incidence .field-collection-container.onlychild,
.node.node-collaborative-economy .field-collection-container.onlychild,
.node.node-communication .field-collection-container.onlychild,
.node.node-training .field-collection-container.onlychild {
    width: 100%
}
.node.node-network-culture .field-collection-container.onlychild .field-collection-view,
.node.node-community-living-culture .field-collection-container.onlychild .field-collection-view,
.node.node-incidence .field-collection-container.onlychild .field-collection-view,
.node.node-collaborative-economy .field-collection-container.onlychild .field-collection-view,
.node.node-training .field-collection-container.onlychild  .field-collection-view,
.node.node-communication .field-collection-container.onlychild  .field-collection-view, {
    width: 45%;
    display: inline-block;
}

/*.node.node-network-culture .body+.field-collection-container,*/
/*.node.node-community-living-culture .body+.field-collection-container,*/
/*.node.node-incidence .body+.field-collection-container,*/
/*.node.node-collaborative-economy .body+.field-collection-container,*/
/*.node.node-training .body+.field-collection-container {*/
    /*border-right: 1px solid #ccc;*/
/*}*/ 

.node.node-network-culture .field-collection-container .field-label,
.node.node-community-living-culture .field-collection-container .field-label,
.node.node-incidence .field-collection-container .field-label,
.node.node-collaborative-economy .field-collection-container .field-label,
.node.node-training .field-collection-container .field-label,
.node.node-communication .field-collection-container .field-label  {
    font-family: "OpenSansRegular";
    font-weight: normal;
}

.node.node-network-culture .field-collection-container .field-collection-view,
.node.node-community-living-culture .field-collection-container .field-collection-view,
.node.node-incidence .field-collection-container .field-collection-view,
.node.node-collaborative-economy .field-collection-container .field-collection-view,
.node.node-training .field-collection-container .field-collection-view,
.node.node-communication .field-collection-container .field-collection-view {
    padding: 0;
    margin: 0;
}

.node.node-network-culture .field-collection-container .field-collection-view,
.node.node-community-living-culture .field-collection-container .field-collection-view,
.node.node-incidence  .field-collection-container .field-collection-view,
.node.node-collaborative-economy .field-collection-container .field-collection-view,
.node.node-training  .field-collection-container .field-collection-view,
.node.node-communication .field-collection-container .field-collection-view {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}


.node.node-network-culture .field-collection-container .field-type-text-long,
.node.node-community-living-culture .field-collection-container .field-type-text-long,
.node.node-incidence .field-collection-container .field-type-text-long,
.node.node-collaborative-economy .field-collection-container .field-type-text-long,
.node.node-training  .field-collection-container .field-type-text-long,
.node.node-communication .field-collection-container .field-type-text-long {
    line-height: 1.5;
    font-family: "GaramondRegular";
    font-size: 16px;
}

.add-border-left {
    border-left: 1px solid #ccc;
}
.add-border-right {
    border-right: 1px solid #ccc;
}

/*----/----/ $ESPACIOS CULTURALES */
.view-espacio-cultural .views-field-nothing {
    top:0;
    left: 0;
    display: none;
}

.view-espacio-cultural .views-row:hover .views-field-nothing {
    display: block;
    padding: 10px;
}

.view-espacio-cultural  .fields-wrapper a {
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}

.view-espacio-cultural  .fields-wrapper a:hover {
    color: #fff !important;
}

.view-espacio-cultural  .fields-wrapper {
    font-size: 11px;
}

.view-espacio-cultural  .views-row {
    margin-bottom: 10px;
    margin-right: 5px;
}

/*----/----/ $MEDIATECA */


.view-mediateca .views-row {
    margin-right: 10px;
}

.view-mediateca .views-row:nth-child(3n+0) {
    margin-right: 0;
}

/*----/----/ $FORMACIÓN */

.view-id-formacion_telartes .views-field.views-field-field-document-file a {
    color: #9530AC;
    font-size: 13px;
    white-space: normal;
    word-wrap: break-word;
}

/*----* $BOLETIN */
.section-boletin .flexslider .slides li {
    height: 257px;
    overflow:hidden;
}


    /*----/----/ $CONTACTO */ 

#node-389 {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

#node-389 a {
    color: #9530AC;
}
#node-389 .field-name-body p {
    margin-bottom: 10px;
    font-family: "OpenSansRegular",sans-serif !important;
}

#node-389 .field-name-body p a {
    font-family: "OpenSansRegular",sans-serif !important;
}

#node-389 .field-name-body .cmail,
#node-389 .field-name-body .cface,
#node-389 .field-name-body .ctwitter {
    padding-left: 40px;
    height: 36px;
    padding-top: 5px;
}

#node-389 .field-name-body .cmail {
    background: url("../images/links/mail.png") no-repeat 0px 5px;
}

#node-389 .field-name-body .cmail:hover {
    background: url("../images/links/mail-hover.png") no-repeat 0px 5px;
}

#node-389 .field-name-body .cface {
    background: url("../images/links/fb.png") no-repeat 0px 5px;
}

#node-389 .field-name-body .cface:hover {
    background: url("../images/links/fb-hover.png") no-repeat 0px 5px;
}

#node-389 .field-name-body .ctwitter {
    background: url("../images/links/tw.png") no-repeat 0px 5px;
}

#node-389 .field-name-body .ctwitter:hover {
    background: url("../images/links/tw-hover.png") no-repeat 0px 5px;
}

#block-421 {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

#block-bean-súmate-a-los-núcleos-locales .field-collection-container {
    padding-bottom: 30px;
}

#block-bean-súmate-a-los-núcleos-locales .entity-field-collection-item .content > div {
    float: left;
}

#block-bean-súmate-a-los-núcleos-locales  .field-collection-view a {
    color: #9530AC;
    padding-top: 8px;
    display: block;
    font-family: "OpenSansRegular",sans-serif !important;
}

#block-bean-súmate-a-los-núcleos-locales  .field-collection-view {
    float: left;
    overflow:hidden;
    width: 45%;
    border: none;
}

#block-bean-súmate-a-los-núcleos-locales  .field-type-image {
    margin-right: 10px;
}

#block-421{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.main .block-views .view-contact li.views-row {
    width: 48.3%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main .block-views .view-contact li.views-row  .box-list {
    height: 78px;
}

.main .block-views .view-contact h3 {
    text-align: left !important;
}

.field-name-field-link-contact .field-collection-item-field-link-contact:hover .field-name-field-picture {
    opacity: 0.5;
}

/*----/----/ $INSIDENCIA */ 

.view-documentos .views-field.views-field-field-document-file a {
    color: #9530AC;
    font-size: 13px;
    white-space: normal;
    word-wrap: break-word;
}
.view-culture-calendar .views-field.views-field-field-event-description .field-content{
    font-family: "GaramondRegular",serif !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
    text-align: left !important;
}


/*----/ $FOOTER */ 
.l-footer {
    margin-top: 20px;
}
/* ----- */
/* ----  box galery  ---- */  /*   8888888888888888888888 */ 
/* BEGIN HEADER */
/*.l-header {
    background-color: #d2d2d4;
    height: 79px;
    overflow: hidden;
    width: 100%;
}
.l-header .contain-to-grid{
	height: 100%;
	width: auto;
}
.contain-to-grid .top-bar {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}
.top-bar-section {}
    overflow: hidden;
}*/
/* END HEADER */
/* BEGIN MENU TOP */
.top-bar-section .main-nav li a {
    font-family: "OpenSansSemiBold",sans-serif;
    /*font-weight: bold;*/
}
/* END MENU TOP */
/* BEGIN MENU LEFT */
#block-menu-menu-menu-left .content .menu li {
    height: 2.8em;
    list-style: outside none none;
    padding: 4px 10px;
    width: 60px;
}
/* END MENU LEFT */
.content .mrc-unformmatted-list .views-row-first div div a img{
	width: 100% !important;
}
main.row {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.not-front .push-3{
	border-right: 2px solid #d0d1d3;
	margin-top: 18px;
}
.breadcrumbs {
	margin-top: 0px;
    padding-top: 0px;
}
.not-front .main .breadcrumbs li a {
    color: #d0d1d3;
    text-transform: none;
	font-size: 13px;
}
.main  #page-title{
	margin-bottom: 11px;
}

.view-display-id-page{
	margin: 0px;
}

.views-exposed-form label {
	font-size: 16px;
    position: relative;
    top: 6px;
}
.view-culturals-actors .view-filters from {
    margin-bottom: 49px;
	margin: 0px;
}
.views-exposed-widgets form{
	padding-bottom: 49px;
}

.views-exposed-form .form-item{
	font-size: 16px;
	color: #424243;
	font-weight: normal;
}
.views-exposed-widget .views-widget select {
	width: auto;
	height: 36px;
	max-width: 152px;
	padding: 0px;
	margin: 0px;
}
.views-exposed-widgets  .views-submit-button .form-submit {
	height: 36px;
}
.box-list .photos .field-content a img {
    height: auto; 
    width: 93%;
}
.view-culturals-actors .box-list {
	height: 116px;
	width: auto;
	background-color: #EDEDED;
}
.view-culturals-actors .box-list .photos{
    width: 27%;
}
.view-culturals-actors .box-list .info {
    height: auto;
    overflow: hidden;
    width: 72%;
}
.view-culturals-actors .box-list .info .name h3 a {
    font-size: 17px;
	color: #704194;
}

.view-culturals-actors .box-list .info .name, .view-culturals-actors .box-list .info .type{
	margin-bottom: 1px;
}

.view-culturals-actors .box-list .info .type span{
	color: #424243;
	font-size: 13px;
}

.view-culturals-actors .box-list .info .infos, .view-culturals-actors .box-list .info .infos a {
    color: #58595b;
    font-family: "GaramondRegular",serif;
    font-size: 16px;
	line-height: 17px;
}
ul.pagination li a {
    color: #58595b;
	font-family: "Open Sans",sans-serif;
	font-weight: normal;
	font-size: 17px;
}
/* /////   CONTENIDO     /////// */

.view-content .view-grouping-header span{
}
.view-content .view-grouping-header span img{
}
.view-content .view-grouping-header span a{
}*/

.not-front .block-views {
    border: none;
    padding-bottom: 0px;
    padding-top: 0px;
}
table.views-view-grid tr td {
	padding: 0px 10px 31px 0px;
    vertical-align: top;
}

.not-front .main p.rtejustify, .not-front .main p.rtejustify > *, .not-front .main .view-mode-full .field-name-body p {
	color: #424243;
    font-family: "GaramondRegular",serif !important;
    font-size: 22px !important;
    line-height: 25px !important;
	text-align: justify;
}


/* **** 	BEGIN	ENLACES - ARTICULACIONES 	**** */
.node.node-network-culture .field-collection-container .field-label,
.node.node-community-living-culture .field-collection-container .field-label,
.node.node-incidence .field-collection-container .field-label,
.node.node-collaborative-economy .field-collection-container .field-label,
.node.node-training .field-collection-container .field-label,
.node.node-communication .field-collection-container .field-label  {
	font-size: 22px;
	color: #6d6e70;
	font-size: 22px !important;
	line-height: 22px;
    padding-bottom: 23px;
}
.node.node-network-culture .field-collection-container a, .node.node-community-living-culture .field-collection-container a, .node.node-incidence .field-collection-container a, .node.node-collaborative-economy .field-collection-container a, .node.node-training .field-collection-container a, .node.node-communication .field-collection-container a {
    color: #704194 !important;
}

.not-front .main .node-event .field, .not-front .main .node-news .field, .not-front .main .node-call .field, .not-front .main .node-editorial .field, .not-front .main .node-document .field, .not-front .main .node-multimedia .field, .not-front .main .node-photography .field, .not-front .main .node-venue .field, .not-front .main .node-incidence .field, .not-front .main .node-community-living-culture .field, .not-front .main .node-network-culture .field, .not-front .main .node-training .field, .not-front .main .node-communication .field, .not-front .main .node-collaborative-economy .field {
    color: #58595b;
    font-family: "GaramondRegular";
    font-size: 17px;
    line-height: 17px;
	padding-bottom: 10px;
}
.node.node-network-culture .field-collection-container .field-collection-view, .node.node-community-living-culture .field-collection-container .field-collection-view, .node.node-incidence .field-collection-container .field-collection-view, .node.node-collaborative-economy .field-collection-container .field-collection-view, .node.node-training .field-collection-container .field-collection-view, .node.node-communication .field-collection-container .field-collection-view {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 15px;
}
/* **** 	END	ENLACES - ARTICULACIONES 	**** */

/* /////////////   sidebar-second derecha */
.sidebar-second{
	border-bottom: 2px solid #c8c9cb;
	padding-top: 2%;
	margin: 0.2em auto 0.5em;
	text-align: center;
}
.sidebar-second .block-views {
	border: none;
}
.large-3.sidebar-second h2 {
    /*border: 2px solid #68696b;*/
    padding: 3px 15px;
	color: #424243;
    font-size: 16px;	
	font-family: "OpenSansSemiBold",sans-serif;
	
	border: 2px groove #4d4d4f;
    /*color: #424243;
    font-family: "OpenSansSemiBold",sans-serif;
    font-size: 16px;
    padding: 7px 10px;
    text-transform: uppercase;*/
}
.large-3.sidebar-second h2.block-title {
	margin: 0.2rem auto 0.5rem;
    width: 175px;
}
.large-3.sidebar-second h3 , .large-3.sidebar-second h3 a {
	margin-top: 0px;
}
.large-3.sidebar-second h3 a, .section-boletin .content .views-row a {
    color: #58595b;
    font-size: 17px; /*14px;*/
	font-family: "OpenSansRegular", sans-serif;
	padding-top: 0px;
    line-height: 13px;
	float: none;
}

.view .more-link  a{
	color: #424243;	
    font-family: "OpenSansSemiBold",sans-serif;
	font-size: 13px;
	border: 2px groove #4d4d4f; /*2px solid #4d4d4f;*/
	text-transform: uppercase;
	padding: 7px 10px;
}
/*  /////		BEGIN SLIDER    ///// */
/*.not-front .main .node ul {
    padding-left: 0px;
}*/
/*  /////		END	SLIDER    ///// */
/*			BEGIN CONTENIDO COMPLETO */
.main .block .content .view-content ul li.views-row .created, .main .block .content .view-content ul li.views-row .content, .main .block .content .view-content ul li.views-row .title, .main .block .content .view-culture-calendar .view-content ul li.views-row .field-content, .main .block .content .view-videos .view-content ul li.views-row span, .main .block .content .view-videos .view-content ul li.views-row .views-field-created, .main .block .content .view-videos .view-content ul li.views-row .views-field-name, .main .block .content .view-videos .view-content ul li.views-row .views-field-body, .main .block .content .view-id-fotografia .view-content ul li.views-row span, .main .block .content .view-id-fotografia .view-content ul li.views-row .views-field-created, .main .block .content .view-id-fotografia .view-content ul li.views-row .views-field-name, .main .block .content .view-id-fotografia .view-content ul li.views-row .views-field-body, .main .block .content .view-culture-calendar .view-content ul li.views-row div h3, .main .block .content .view-culture-calendar .view-content ul li.views-row .views-field-field-event-description, .main .block .content .view-fotografia .view-content ul li.views-row span h3, .main .block .content .view-culture-calendar .view-content ul li.views-row div h3, .main .block .content .view-id-news .view-content ul li.views-row div.fields-row, .main .block .content .view-formacion-telartes .view-content ul li.views-row span.views-field-title, .main .block .content .view-formacion-telartes .view-content ul li.views-row div.views-field-body{
	
	padding-right: 20px;
	/*padding-left: 15px;*/
}
.main .block .content .view-content ul li.views-row .views-field-created span, .main .block .content .view-content ul li.views-row .views-field-field-event-date{
	padding-right: 0px;
	text-align: left;
}
.main .block .content .view-collaborative-economy .view-content ul li.views-row div.views-field-nothing{
	width: 95%;
}
.main .block .content .view-collaborative-economy .view-content ul li.views-row div.views-field-nothing span, .main .block .content .view-collaborative-economy .view-content ul li.views-row div.views-field-nothing p, .main .block .content .view-collaborative-economy .view-content ul li.views-row div.views-field-nothing .field-created-date {
	color: #FFF;
}
.main .block .content .view-culture-calendar .view-content ul li.views-row .views-field-field-event-image .field-content{
	padding-right:0px;
}
.main .block .content .view-id-call .view-content ul li.views-row div.views-field-body .field-content{
	padding-right: 10px;	
}
.main .block .content .view-call .view-content ul li.views-row  .views-field-field-call-image{
	overflow: hidden;
	width: 100%;
}
.main .block .content .view-culture-calendar .view-content ul li.views-row,
.view-mode-full .posted span, .view-mode-full div .field-label, .view-mode-full div.field-name-field-autor, .view-mode-full div a {
	color: #58595b;
    font-size: 17px; /*14px;*/
	font-family: "OpenSansRegular", sans-serif;
	padding-top: 0px;
    line-height: 19px;
	/*font-weight: bold;*/
}
.view-mode-full .image img{
	padding: 9px 0px 11px !important;
}
.view-mediateca .views-row, .view-news .views-row, .view-collaborative-economy .views-row, .view-training .views-row, .view-collaborative-economy .views-row,
.view-library .views-row, .view-editorial .views-row, .view-call .views-row, .view-id-formacion_telartes .views-row, .view-fotografia .views-row, .view-documentos .views-row, .view-videos .views-row, .view-audios .views-row, .view-culture-calendar .views-row {
    width: 31%;/*30%;*/
}
.not-front .main .content ul li.views-row div.field-content p {
	text-align:left !important;
}
.content .view-mode-full .field{
	float: none !important;
}
.not-front .main .node .field-type-image a img{
	width: 120px;
	height: 120px;
	margin: 10px 0px;
}
/* 			END CONTENIDO COMPLETO	 */

.sidebar-second .float-left .field-content a::after {
    padding-top: 9px;
}
/*    575666687648438487465418  */
.large-3.sidebar-second .field-content p{
}
.large-3.sidebar-second .field-content p span{	
    color: #58595b;
    font-family: "GaramondRegular" !important;
    font-size: 16px !important;
    line-height: 16px;
}
.mrc-block-destacados .field-content, .large-3.sidebar-second .field-content p {
    color: #58595b;
    font-family: "GaramondRegular";
    font-size: 16px !important;
    line-height: 16px;
    text-align: left;
}
.sidebar-second .mrc-unformmatted-list li.views-row{
	margin:0px;
}
.mrc-block-destacados .field-content a img{
	width: 100%; /*130px;*/
	height: auto;
}
/*          BEGIN  BOLETINES    */
.not-front .main .node img {
	/*width: 100%;*/
	padding: 0px;
	margin: 0px;
}
.views-exposed-widget .views-widget .form-item-field-boletin-target-id select {
    /*height: 36px;
    margin: 0;*/
    max-width: 243px;
    padding: 0;
    width: 243px;
}
.view-grouping-content table.views-view-grid{
	border: none;
    margin: 0px;
}
table.views-view-grid .views-field .field-content a img{
	height: auto;
    width: 255px;
}
table.views-view-grid td div h3{
	text-align: center;
}
/* 9999999999999999999 */
table.views-view-grid td div h3 a, .view-content ul li.views-row div h3 a, .view-content ul li.views-row div div .title-news, .view-content ul li.views-row .title h3 a, .view-content ul li.views-row span h3 a{
	color: #424243;
    font-family: "OpenSansRegular",sans-serif;
    font-size: 17px;
    text-align: center;
}
table.views-view-grid td div.views-field-field-autor span.views-label-field-autor, table.views-view-grid td div.views-field-field-autor div.field-content{
    font-family:"OpenSansRegular",sans-serif;
    font-size: 14px;
	color: #6d6e70;
	float: left;
}
.view-content ul li.views-row section .field-content .fields-row div p{
	text-align: left !important;
}
.view-content ul li.views-row section .field-content .fields-row div p span, .view-content ul li.views-row .field-content p span, .view-content ul li.views-row .fields-row .fields-wrapper p, .view-content ul li.views-row .content div p{	
    font-family: "GaramondRegular";
    font-size: 16px !important;
	color: #58595b;
	line-height: 19px !important;
}
table.views-view-grid td div.views-field-body-1 div.field-content{	
    font-family: "GaramondRegular";
    font-size: 16px;
	color: #58595b;
	line-height: 19px;
}
/* 			END  BOLETINES		*/

/* 		BEGIN HOME PAGE  */
/* begin agenda cultura */

.colapsible #block-views-culture_calendar-block .content .view-culture-calendar .view-content ul li.views-row{
	width: 23%;
	padding-right: 0px;
}
/*.colapsible #block-culture-calendar .content .view-culture-calendar .view-content ul li.views-row .news-image .field-content img{
	width: auto !important;
}*/
/* end agenda cultura */
/* begin noticias */
.colapsible #block-telartes-noticias .content .view-news .view-content ul li.views-row{
	width: 23%;
}
.colapsible #block-telartes-noticias .content .view-news .view-content ul li.views-row .news-image .field-content img{
	width: auto !important;
}
.colapsible #block-telartes-noticias .content .view-news .view-content ul li.views-row .nothing, .colapsible #block-telartes-noticias .content .view-news .view-content ul li.views-row .nothing span, .colapsible #block-telartes-noticias .content .view-news .view-content ul li.views-row .nothing p, .colapsible #block-telartes-noticias .content .view-news .view-content ul li.views-row .nothing  strong{
	color: #FFF !important;
    font-family: "GaramondRegular" !important;
    font-size: 15px !important;
    line-height: 16px !important;
}
/* end noticias */
/* begin convocatoria */
.colapsible #block-telartes-convocatoria .content .view-call .view-content ul li.views-row{
	width: 23%;
}
.colapsible #block-telartes-convocatoria .content .view-call .view-content ul li.views-row .views-field-body .field-content p{
	line-height: 14px;
}
.colapsible #block-telartes-convocatoria .content .view-call .view-content ul li.views-row .news-image .field-content img{
	width: auto !important;
}
/*.colapsible #block-telartes-convocatoria .content .view-news .view-content ul li.views-row .nothing, .colapsible #block-telartes-convocatoria .content .view-news .view-content ul li.views-row .nothing span, .colapsible #block-telartes-convocatoria .content .view-news .view-content ul li.views-row .nothing p, .colapsible #block-telartes-convocatoria .content .view-news .view-content ul li.views-row .nothing  strong{
	color: #FFF !important;
    font-family: "GaramondRegular" !important;
    font-size: 15px !important;
    line-height: 16px !important;
}*/
/* end convocatoria */
/* begin mediateca*/
.colapsible .tabb, .colapsible .tabb .row-tab{
	overflow: hidden;
}
.colapsible .content .tabmultimedia .view{
	width: 50%; /*48%;*/
	float: left;
}
.colapsible .content .tabmultimedia .view .view-content{
	overflow: hidden;
    width: 100%;
}
.colapsible .content .tabmultimedia .view-document .view-content ul li.views-row{
	border: 1px solid #ccc;
}
.colapsible .content .tabmultimedia .view-multimedia .view-content ul li.views-row .views-field-nothing{
	overflow: hidden;
    width: 97%;
    margin-top: 4px;
}
/* */
.colapsible .content .tabmultimedia .view-multimedia .view-content ul li.views-row .views-field .field-content img{
	width: 100%;
}
/* */
.colapsible .content .tabmultimedia .view .view-content ul.mrc-unformmatted-list{
	overflow:hidden;
	width: 100%;
}
.colapsible .content .tabmultimedia .view .view-content ul li.views-row{
	width: 48%;
	padding: 0 7px 0 7px;
	margin-right: 8px;
}
.colapsible .content .tabmultimedia .view .view-content ul li.views-row-last {
    margin-right: 0;
}
.colapsible .content .tabmultimedia .view-multimedia .view-content ul li.views-row{
	margin: 2px auto 0px 5px;
    padding: 4px;
    width: 48%;
    margin-top: 2px;
}
.colapsible .content .tabmultimedia .view-multimedia .view-content ul li.views-row-last{
	margin-left: 0;
}
.colapsible .content .tabmultimedia .view-multimedia .view-content{
	overflow: hidden;
    width: 100%;
}
/*
.colapsible .content .tabmultimedia .view-photography .view-content .custom-content{
}*/
.colapsible .content .tabmultimedia  .view-photography{
	clear: both;
}
.colapsible .content .tabmultimedia .view .view-content ul li.views-row{
	width: 48%;
}
.colapsible .content .tabmultimedia .view .view-content ul li.views-row .views-field-body .field-content p{
	line-height: 14px;
}
.colapsible .content .tabmultimedia .view-photography .view-content  ul li.views-row-last div div a img{
	overflow: hidden;
    width: 100%;
}
.colapsible .content .tabmultimedia .view-photography .view-content  ul li.views-row{
	margin-left: 0px;
    padding-left: 4px;
	/*padding: 0 7px 0 7px;
	margin-right: 8px;*/
}
.colapsible .content .tabmultimedia .view-photography .view-content  ul li.views-row-last{
	padding: 0px;
    margin-left: 3px;
}
.colapsible .content .tabmultimedia .view-id-audio .view-content  ul li.views-row-last{
	margin: 5px;
    padding: 0px;
}
.colapsible .content .tabmultimedia .view-id-audio .view-content  ul li.views-row-last .views-field-nothing{
	height: 100%;
    overflow: hidden;
    width: 100%;
}
.colapsible .block-telartes-mediateca .content .mediateca-ver-todos{
	height: auto;
}
.mediateca-ver-todos a{
	border: 2px groove #4d4d4f;
    color: #424243;
    font-family: "OpenSansSemiBold",sans-serif;
    font-size: 13px;
    padding: 7px 10px;
    text-transform: uppercase;
}
/*end mediateca*/
/*begin editorial*/
.front .view-library .title a::before, .front .view-editorial .title a::before{
	background:none;
	height: auto;
}
.colapsible .content ul.mrc-unformmatted-list li.views-row{
	padding: 0 10px 0 0;
    width: 24%;
    margin: 0 9px 10px 0;
}
.colapsible .content ul.mrc-unformmatted-list li.views-row-last{
	border-right: 0px;
	margin-right: 0px;
}
.colapsible .content ul.mrc-unformmatted-list li.views-row .title, .colapsible .content ul.mrc-unformmatted-list li.views-row .content{
	padding-right: 0px !important;
}
.colapsible .content ul.mrc-unformmatted-list li.views-row .title h3 a{
	font-size: 16px;
}
.colapsible .content ul.mrc-unformmatted-list li.views-row .content .field-content p{
	font-size: 15px !important;
    text-align: left;
}

/* 		END HOME PAGE  */
/* end editorial */

/*  BEGIN EDITAR FORMULARIO ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.node-personal-form .field-type-image, .node-personal-form .field-type-file, .node-personal-form .field-name-field-audio-upload, .node-collective-form .field-type-image, .node-collective-form .field-type-file, .node-collective-form .field-name-field-audio-upload, .node-network-form .field-type-image, .node-network-form .field-type-file, .node-network-form .field-name-field-audio-upload, .node-photography-form .field-type-image, .node-photography-form .field-type-file, .node-photography-form .field-name-field-audio-upload, .node-multimedia-form .field-type-image, .node-multimedia-form .field-type-file, .node-multimedia-form .field-name-field-audio-upload, .node-audio-form .field-type-image, .node-audio-form .field-type-file, .node-audio-form .field-name-field-audio-upload, .node-document-form .field-type-image, .node-document-form .field-type-file, .node-document-form .field-name-field-audio-upload, .node-news-form .field-type-image, .node-news-form .field-type-file, .node-news-form .field-name-field-audio-upload, .node-call-form .field-type-image, .node-call-form .field-type-file, .node-call-form .field-name-field-audio-upload, .node-event-form .field-type-image, .node-event-form .field-type-file, .node-event-form .field-name-field-audio-upload{
	float: none;
	/*clear: both;*/
	overflow: hidden;
}
#event-node-form .form-item a, #event-node-form .form-item label, #event-node-form .form-item span, #event-node-form .form-item p, #event-node-form .form-item  select, #event-node-form .form-item  .form-text, #event-node-form .form-item  .form-text{
    color: #424243;
    font-family: "OpenSansSemiBold",sans-serif;
}
#event-node-form #edit-field-event-image, #event-node-form #edit-field-event-pdf{
	width: 100%;
	margin-left: 0px;
}
#event-node-form #edit-field-event-image .image-widget-data{
	clear: both;
}
#event-node-form #edit-field-event-image .image-widget-data .image-widget-data{
	width: auto;
}
#event-node-form #edit-field-event-image .image-widget-data .image-widget-data  span{
	float: left;
}
#event-node-form #edit-field-event-image .image-widget-data  .form-submit{
	clear: both;
}
#event-node-form #edit-field-event-pdf .form-file, #event-node-form #edit-field-event-pdf .form-file .form-submit {
    padding: 5px 0;
}
#event-node-form  #edit-actions{
	clear: both;
}
#event-node-form  #edit-field-event-link, #event-node-form  #edit-field-prominent, #event-node-form  #edit-field-event-link div, #event-node-form  #edit-field-event-link label{
	clear: both;
	margin-left: 0;
    text-align: left;
}
#event-node-form #edit-field-prominent  input[type="file"], #event-node-form #edit-field-prominent  input[type="checkbox"], #edit-field-prominent input[type="radio"] {
    margin: 2px 0px;
}
.not-front .main .field-name-field-call-image img, .not-front .main .field-name-field-event-image img {
    height: auto;
    width: auto;
}
/*  END EDITAR FORMULARIO ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*  -*-*-*-*-*-*  RESPONSIVE   *--*-*-*-*-*  *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*  */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
/* logo */
.contain-to-grid .top-bar {
    height: 72px;
    overflow: hidden;
}
.top-bar .logo {
    margin-right: 35px;
    width: auto;
}
.top-bar .logo img {
	height: 68px;
    overflow: hidden;
    width: auto;
}
/* menu */
.top-bar-section .main-nav li {
    margin-right: 40px;
}
.top-bar-section .main-nav li {
    margin-right: 36px;
}
.top-bar-section .main-nav li a {
    font-size: 10px;
}
.block-menu-menu-menu-notifications .first-icon-user .link-icon-user {
    width: 190px;
}
/* icono login*/
.first-icon-user .link-icon-user i {
    font-size: 33px;
    padding: 8px 14px;
}
.block-menu-menu-menu-notifications .first-icon-user .link-icon-user i {
    font-size: 33px;
}


/* menu imagen*/
.front .custom-menu-wrapper .main-nav li ul li a {
    font-family: "Open Sans",sans-serif;
    font-size: 11px;
}
.view-menu-wrapper li ul li > .plus-icon {
    padding: 7px 0 6px 22px;
}
.custom-menu-wrapper .menu-inciedncias {
    left: 42%;
    top: 45%;
}
.custom-menu-wrapper .cultura-viva-comunitaria {
    left: 61%;
    top: 85%;
}
.custom-menu-wrapper .comunicacion {
    left: 41%;
    top: 6%;
}
.custom-menu-wrapper .circulacion {
    left: 24%;
    top: 28%;
}
.custom-menu-wrapper .formacion {
    left: 71%;
    top: 42%;
}
.custom-menu-wrapper .boletin {
    left: 5%;
    top: 76%;
}
.custom-menu-wrapper .menu-manifiesto {
    left: 5%;
    top: 23%;
}
.custom-menu-wrapper .cultura-red {
    left: 62%;
    top: 4%;
}
.custom-menu-wrapper .foro {
    left: 25%;
    top: 80%;
}
.custom-menu-wrapper .menu-economia {
    left: 31%;
    top: 57%;
}
.buscador {
    right: 15%;
    top: 2%;
}
.buscador a .fa-search {
    font-size: 36px;
}
.custom-menu-wrapper .social-networks {
    right: 2%;
    top: 2%;
}

/* agenda cultural home */
.l-main .collapsiblock a .fa::before {
    font-size: 18px;
}
.l-main .collapsiblock a {
    padding: 16px 0 !important;
}
.row a {
    font-size: 16px;
}
/* ************************** */
.not-front .main .breadcrumbs li a {
    font-size: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 22px;
}
.views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0.5em 0 0 0;
}
.views-exposed-form label {
    font-size: 12px;
    position: relative;
    top: 0;
}
.views-exposed-widget .views-widget select {
    font-size: 12px;
    height: 27px;
    margin: 0;
    max-width: 114px;
    padding: 0;
    width: auto;
}
#views-exposed-form-culturals-actors-page .views-exposed-widgets #edit-tid-1-wrapper .views-widget {
    padding-right: 27px;
    width: auto;
}
.views-exposed-widgets .views-submit-button .form-submit {
    font-size: 12px;
    height: 27px;
}
.view-culturals-actors .box-list .info .name, .view-culturals-actors .box-list .info .type {
    margin-bottom: 0px;
}
.view-culturals-actors .box-list {
    max-height: 81px; /*86px;110px*/
	min-height: 80px;
	width: auto;
	background-color: #EDEDED;
	padding:7px;
}
.view-culturals-actors .box-list .photos{
    width: 26%;
}
.view-culturals-actors .box-list .info {
    height: auto;
    overflow: hidden;
    width: 73%;
}
.box-list .photos .field-content a img {
    height: auto;
    width: 70px;
}
.box-list .info .name h3 {
    font-size: 13px;
	margin-top: -3px;
}
.view-culturals-actors .box-list .info .name h3 a {
    font-size: 13px;
}
.view-culturals-actors .box-list .info .type span {
    font-size: 10px;
}
.view-culturals-actors .box-list .info .infos, .view-culturals-actors .box-list .info .infos a {
    font-size: 13px;
    line-height: 13px;
}

.large-3.sidebar-second h3 a {
    line-height: 13px;
}
.large-3.sidebar-second .field-content p span {
    font-size: 12px !important;
}
}